In [2]:
import pandas as pd

In [5]:
plumes = pd.read_csv(
    r'C:\Users\rebek\Ember\plume_perc\Plumes.csv', # New GEM plume dataset
    thousands=",",       # interpret commas as thousand separators inside numbers
    quotechar='"',       # respect quoted fields
    engine="python"      # more flexible parser for tricky CSVs
)

total_emissions = (
    plumes.groupby("Country/Area")["Emissions (kg/hr)"]
      .sum()
      .reset_index(name="TOTAL_EMISSIONS_kg_per_hr")
)

total_emissions

            Country/Area  TOTAL_EMISSIONS_kg_per_hr
0                Algeria               6.022012e+04
1              Australia               3.128393e+05
2                Bahrain               2.639040e+04
3             Bangladesh               0.000000e+00
4               Botswana               9.196474e+03
5                 Brazil               1.572706e+03
6                 Canada               2.929976e+04
7                  Chile               6.870497e+03
8                  China               1.894812e+06
9               Colombia               1.333430e+04
10                 Egypt               8.581600e+03
11                Greece               2.490531e+03
12                 India               2.413918e+04
13             Indonesia               1.094959e+03
14                  Iran               7.510522e+03
15                  Iraq               7.361317e+03
16                Israel               1.446855e+04
17            Kazakhstan               2.074106e+04
18                Mexico               2.066401e+04
19               Morocco               5.166719e+03
20            Mozambique               1.604082e+03
21               Nigeria               3.243317e+03
22                  Oman               9.619006e+03
23              Pakistan               2.447889e+03
24             Palestine               1.801570e+03
25                  Peru               2.126337e+04
26           Philippines               0.000000e+00
27                Poland               1.075819e+05
28                Russia               1.422579e+05
29          Saudi Arabia               5.048222e+04
30               Senegal               3.035930e+04
31          South Africa               1.303743e+04
32                 Syria               6.788205e+03
33               Tunisia               1.774970e+03
34               Türkiye               5.977017e+03
35               Ukraine               1.272627e+04
36  United Arab Emirates               2.883826e+03
37         United States               1.374636e+06
38            Uzbekistan               2.072280e+04
39             Venezuela               0.000000e+00
40                 Yemen               1.680916e+04