In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(
    r'C:\Users\rebek\Ember\Data Tool\Data_for_flourish\cmm-data-tool\eia_production.csv', #File outputted from eia_met_production.ipynb
    thousands=",",       # interpret commas as thousand separators inside numbers
    quotechar='"',       # respect quoted fields
    engine="python"      # more flexible parser for tricky CSVs
)

df

     country code  year  total coal (MT)  metallurgical coal (MT)
0             ABW  1991         0.000000                 0.000000
1             ABW  1992         0.000000                 0.000000
2             ABW  1993         0.000000                 0.000000
3             ABW  1994         0.000000                 0.000000
4             ABW  1995         0.000000                 0.000000
...           ...   ...              ...                      ...
6839          ZWE  2006         3.496996                 0.476945
6840          ZWE  2007         3.369996                 0.459623
6841          ZWE  2008         2.538997                 0.346286
6842          ZWE  2009         1.667298                 0.227398
6843          ZWE  2010         2.500197                 0.340994

[6844 rows x 4 columns]

In [8]:
# Select and rename relevant columns
df_clean = df[["year", "metallurgical coal (MT)"]].rename(
    columns={
        "metallurgical coal (MT)": "production"
    }
)

# Drop rows without emissions data
df_clean = df_clean.dropna(subset=["production"])

# Global totals per year and source
global_by_year_source = (
    df_clean.groupby(["year"], as_index=False)["production"].sum()
)

# Save results
global_by_year_source.to_csv("global_met_by_year_source.csv", index=False)