In [11]:
import pandas as pd
import pycountry

In [12]:
sat = pd.read_csv(
    r'C:\Users\rebek\Ember\Data Tool\cmm-data-tool\merged_kayrros_mars_carbonmapper_02102025_coal.csv', # New GEM plume dataset
    thousands=",",       # interpret commas as thousand separators inside numbers
    quotechar='"',       # respect quoted fields
    engine="python"      # more flexible parser for tricky CSVs
)

In [13]:
plumes_per_country = (
    sat
    .groupby("country")
    .size()
    .reset_index(name="plume_count")
    .sort_values("plume_count", ascending=False)
    .reset_index(drop=True)
)

country_map = {
    "USA": "United States of America",
    "Russian Federation": "Russia"
}

sat["country_clean"] = sat["country"].replace(country_map)

plumes_per_country = (
    sat
    .groupby("country_clean")
    .size()
    .reset_index(name="plume_count")
    .sort_values("plume_count", ascending=False)
    .reset_index(drop=True)
)

plumes_per_country

               country_clean  plume_count
0                      China         2149
1   United States of America          622
2                  Australia          353
3                     Russia          308
4                     Poland          187
5                      India          159
6                 Kazakhstan          112
7               South Africa           82
8                    Ukraine           54
9                     Canada           42
10                  Colombia           14
11                Mozambique           11
12                    Mexico           11
13                  Zimbabwe            6
14                  Mongolia            5
15                     Egypt            2
16                   Czechia            2
17                    Brazil            2
18                     Nepal            1
19                  Pakistan            1
20                Bangladesh            1
21                  Slovakia            1
22                   Türkiye            1
23                  Botswana            1

In [14]:
plumes_per_country.to_csv("plume_counts.csv", index=False)