In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(
    r'C:\Users\rebek\Downloads\query_result_2025-11-17T12_05_30.75753068Z.csv',
    thousands=",",       # interpret commas as thousand separators inside numbers
    quotechar='"',       # respect quoted fields
    engine="python"      # more flexible parser for tricky CSVs
)

df

     COUNTRY_CODE  YEAR  PRODUCTION_MT  FORECAST_FLAG SOURCE
0             AFG  1991          0.094          False    EIA
1             AFG  2000          0.001          False    EIA
2             AFG  1999          0.001          False    EIA
3             AFG  1998          0.002          False    EIA
4             AFG  1997          0.002          False    EIA
...           ...   ...            ...            ...    ...
2892          TZA  2025          2.580           True    IEA
2893          USA  2025        443.050           True    IEA
2894          MNG  2025         97.000           True    IEA
2895          THA  2024         12.000          False    IEA
2896          VNM  2025         48.180           True    IEA

[2897 rows x 5 columns]

In [6]:
# Select and rename relevant columns
df_clean = df[["YEAR", "PRODUCTION_MT", "SOURCE"]].rename(
    columns={
        "YEAR": "year",
        "PRODUCTION_MT": "production",
        "SOURCE": "source"
    }
)

# Drop rows without emissions data
df_clean = df_clean.dropna(subset=["production"])

# Global totals per year and source
global_by_year_source = (
    df_clean.groupby(["year", "source"], as_index=False)["production"].sum()
)

# Save results
global_by_year_source.to_csv("global_production_by_year_source.csv", index=False)