In [18]:
import unfccc_di_api
import numpy as np
import pandas as pd

In [19]:
def get_detailed_by_party(country_code):
    reader = unfccc_di_api.ZenodoReader()
    df = reader.query(party_code=country_code)
    df_ch4_1b1a = df[(df["gas"] == "CH4") & (df["category"] == '1.B.1.a  Coal Mining and Handling')]
    df_ch4_1b1a = df_ch4_1b1a[df_ch4_1b1a['year'] != 'Base year']
    df_ch4_1b1a = df_ch4_1b1a[df_ch4_1b1a['measure'] == 'Net emissions/removals']
    return df_ch4_1b1a

In [20]:
annex_i_countries = [
    "AUS", "AUT", "BEL", "BGR", "CAN", "HRV", "CYP", "CZE", "DNK", "EST",
    "FIN", "FRA", "DEU", "GRC", "HUN", "ISL", "IRL", "ISR", "ITA", "JPN",
    "LVA", "LIE", "LTU", "LUX", "MLT", "NLD", "NZL", "NOR", "POL", "PRT",
    "ROU", "RUS", "SVK", "SVN", "ESP", "SWE", "CHE", "TUR", "GBR", "USA"
]

all_data = []
for i in annex_i_countries:
    df = get_detailed_by_party(i)
    all_data.append(df)

all_df = pd.concat(all_data)

all_df

,party,category,classification,measure,gas,unit,year,numberValue,stringValue
116602,AUS,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,1990,871.212694,None
116603,AUS,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,1991,885.670417,None
116604,AUS,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,1992,923.412260,None
116605,AUS,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,1993,930.099591,None
116606,AUS,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,1994,856.216466,None
...,...,...,...,...,...,...,...,...,...
15539509,USA,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,2017,2449.910011,None
15539510,USA,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,2018,2357.709003,None
15539511,USA,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,2019,2129.407539,None
15539512,USA,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,2020,1880.154243,None
15539513,USA,1.B.1.a Coal Mining and Handling,Total for category,Net emissions/removals,CH4,kt,2021,1822.637992,None